<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Pulsestorm_Pestleform::things" resource="Pulsestorm_Pestleform::things" title="Pestle Things" action="pulsestorm_pestleform_things/index/index" module="Pulsestorm_Pestleform" sortOrder="10"/><add id="Pulsestorm_Pestleform::things_list" resource="Pulsestorm_Pestleform::things" title="Thing Objects" action="pulsestorm_pestleform_things/index/index" module="Pulsestorm_Pestleform" sortOrder="10" parent="Pulsestorm_Pestleform::things" dependsOnModule="Pulsestorm_Pestleform"/></menu>
</config>
