<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pulsestorm_pestleform_things" frontName="pulsestorm_pestleform_things">
            <module name="Pulsestorm_Pestleform"/>
        </route>
    </router>
</config>
